<div class="container">
  <div class="row">
<div class="col-sm-offset-2 col-sm-8 loja-container">
  <h3 class="text-center">Listar Lojas</h3>
    <button class="btn btn-default" (click)="addLoja()"> Adicionar Loja</button>
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">idLoja</th>
        <th>NomeFantasia</th>
        <th>Email</th>
        <th>Dominio</th>
        <th>Ativa</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let loja of lojas">
        <td class="hidden">{{loja.idLoja}}</td>
        <td>{{loja.nomeFantasia}}</td>
        <td>{{loja.email}}</td>
        <td>{{loja.dominio}}</td>
        <td>{{loja.ativa}}</td>
        <td>
          <button class="btn btn-success btn-xs" (click)="editLoja(loja)"> Editar</button>
          <button class="btn btn-danger btn-xs" (click)="deleteLoja(loja)"> Apagar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>
  </div>
  